body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.user-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.user-form .user-form-header,
.user-form .checkbox {
    padding-bottom: 10px;
}

.user-form .checkbox {
    font-weight: 400;
}

.user-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.user-form .form-control:focus {
    z-index: 2;
}

.user-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.user-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.warning {
    color: red;
}
