<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Login')}">
    <title></title>
</head>
<body>
<div class="container">
    <form th:action="@{/login}" method="POST" class="user-form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p th:if="${loginError}" class="warning">Wrong password or login</p>
        <p>
            <label for="username" class="sr-only">
                Username
            </label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                   autofocus="autofocus"/> <br/>
        </p>
        <p>
            <label for="password" class="sr-only">
                Password
            </label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
            <br/>
        </p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in"/>
        <a th:href="@{/register}" class="btn btn-lg badge-success btn-block">Register</a>
    </form>
</div>
</body>
</html>
